@model Gostie.Models.Panel.ProductsViewModel
@{
    ViewData["Title"] = "GetProducts";
    Layout = "_PanelLayout";
}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item mr-2">
                    <button class="nav-link btn btn-primary btn-sm" onclick="getProducts()">Ürünler</button>
                </li>
                <li class="nav-item mr-2 float-right">
                    <button class="nav-link btn btn-primary btn-sm" onclick="addProduct()">Yeni Ürün</button>
                </li>
                <li class="nav-item mr-2 float-right">
                    <button class="nav-link btn btn-primary btn-sm" onclick="getCategory()">Kategoriler</button>
                </li>
                <li class="nav-item float-right">
                    <button class="nav-link btn btn-primary btn-sm" onclick="addCategory()">Yeni Kategori</button>
                </li>
            </ul>
        </div>
        <div class="card-body" id="GetProductsCard">
            <div>
                <!--Burası Header-->
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">İsim</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Resim</th>
                            <th scope="col">Fiyat</th>
                            <th scope="col">Stok</th>
                            <th scope="col">İndirim</th>
                            <th scope="col">Düzenle/Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductList)
                        {
                            <tr class="xyz">
                                <th scope="row">@item.product.ProductID</th>
                                <td>@item.product.Name</td>
                                <td>@item.category.CategoryName</td>
                                <td>
                                    <img src="~/images/products/@item.product.Picture" width="125" height="125"/>
                                </td>
                                <td>@item.product.Price</td>
                                <td>@item.product.Quantity</td>
                                <td>%@item.product.Discount</td>
                                <td>
                                    <a href="@Url.Action("ViewDetails","Management",@item.product)">Detaylar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body" id="AddProductCard">
            <h5 class="card-title">Yeni Ürün</h5>
            <div class="row justify-content-center">
                <form asp-controller="Management" asp-action="AddProduct" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Ürün ismi:</label>
                            <input class="form-control" type="text" asp-for="product.Name" placeholder="Halter.." />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Stok adedi:</label>
                            <input class="form-control" type="text" asp-for="product.Quantity" placeholder="10.." />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Fiyat ₺:</label>
                            <input class="form-control" type="text" asp-for="product.Price" placeholder="100" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>İndirim: </label>
                            <input class="form-control" type="text" asp-for="product.Discount" placeholder="0-100" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Kategori: </label>
                        <select class="form-control" asp-for="product.Category.CategoryID" asp-items="Model.Categories"></select>
                    </div>
                    <div class="form-group">
                        <label>Resim:</label><br />
                        <img src="~/images/assets/not-found.png" id="PreviewImage" width="200" height="200" /><br /><br />
                        <input class="form-control" type="file" id="ProductImage" name="ProductImage" asp-for="product.Picture" />
                    </div>
                    <div class="form-group">
                        <label>Açıklama:</label>
                        <textarea rows="3" class="form-control" asp-for="product.Description" placeholder="Ürün hakkında birşeyler.."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" />Ekle</button>
                </form>
            </div>
        </div>
        <div class="card-body" id="Category">
            <div>
                <!--Burası Header-->
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">İsim</th>
                            <th scope="col">Düzenle/Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr>
                                <th scope="row">@item.Value</th>
                                <td>@item.Text</td>
                                <td>
                                    <a href="@Url.Action("ViewCategoryDetails","Management", new { id = item.Value})">Detaylar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body" id="AddCategory">
            <h5 class="card-title">Yeni Kategori</h5>
            <div class="row justify-content-center">
                <form asp-controller="Management" asp-action="AddCategory" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Kategori ismi:</label>
                            <input class="form-control" type="text" asp-for="category.CategoryName" placeholder="Vücut Geliştirme.." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Resim:</label><br />
                        <img src="~/images/assets/not-found.png" id="CategoryPreviewImage" width="200" height="200" /><br /><br />
                        <input class="form-control" type="file" id="CategoryImage" name="CategoryImage" asp-for="category.Picture" />
                    </div>
                    <div class="form-group">
                        <label>Açıklama:</label>
                        <textarea rows="3" class="form-control" asp-for="category.Description" placeholder="Kategori hakkında birşeyler.."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" />Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>